# maven
if hash mvn 2>/dev/null; then
    if [ -f "{{ .java_truststore_file }}" ]; then
        alias m='mvn -Djavax.net.ssl.trustStore={{ .java_truststore_file }} -Djavax.net.ssl.trustStorePassword={{ .java_truststore_password }}'
    else
        alias m='mvn'
    fi
    alias mvnp='m -Dmaven.test.skip -Dmaven.javadoc.skip=true -DskipMunitTests clean package'
    alias mvnd='m -Dmaven.test.skip -Dmaven.javadoc.skip=true deploy -P profile-nexus'
    alias mvni='m -Dmaven.test.skip -Dmaven.javadoc.skip=true clean install'

    function mbump() {
      if [ $# -eq 0 ]; then
        echo "Usage: mbump <version> (means -SNAPSHOT) or mbump <version> <kind> (kind is R or S)"
      else
        if [ $# -gt 1 ] && [ "$2" = "R" ]; then
          kind="RELEASE"
        else
          kind="SNAPSHOT"
        fi
        mvn versions:set -DgenerateBackupPoms=false -DnewVersion="$1-$kind"
      fi
    }

    # copy maven artifact
    alias d="python3 ~/.local/bin/deploy.py '$cdd'"
fi
