# Node
if [ -f "{{ .extra_ca_cert }}" ]; then
    export NODE_EXTRA_CA_CERTS={{ .extra_ca_cert }}
fi
export NODE_BUILD_CURL_OPTS=--insecure

if [ -d "$HOME/.nvm" ]; then
    # Nodenv (https://github.com/nodenv/nodenv)
    export PATH="$HOME/.nodenv/bin:$PATH"
    eval "$(nodenv init -)"

    # NVM (https://github.com/nvm-sh/nvm)
    export NVM_DIR="$HOME/.nvm"
    [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
    [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
fi


