#THIS MUST BE AT THE END OF THE FILE FOR SDKMAN TO WORK!!!
export SDKMAN_DIR="$HOME/.sdkman"
[[ -s "$HOME/.sdkman/bin/sdkman-init.sh" ]] && source "$HOME/.sdkman/bin/sdkman-init.sh"

# java 
if [ -n "$(LC_ALL=C type -t sdk)" ] && [ "$(LC_ALL=C type -t sdk)" = function ]; then
    alias java6='sdk use java {{ .java6_version }}'
    alias java7='sdk use java {{ .java7_version }}'
    alias java8='sdk use java {{ .java8_version }}'
    alias java11='sdk use java {{ .java11_version}}'
    alias jv='java -version'
fi
