[alias]
  a = add
  ahead-of-master = log --oneline origin/master..HEAD
  b = "!git checkout $(git branch | fzf)"
  c = commit
  clear = clean -fd
  co = checkout
  cd = checkout develop
  cm = checkout master
  cp = cherry-pick
  f = fetch -p
  nb = checkout -b
  p = push -u origin
  s = status
  track = "!for BRANCH in $(git branch -a | grep remotes | grep -v HEAD); do git branch --track \"${BRANCH#remotes/origin/}\" \"${BRANCH}\"; done"
  untrack = "!for BRANCH in $(git branch | grep -v '*'); do git branch -D \"${BRANCH}\"; done"
  sync = "!git untrack && git gc && git f && git track"

[color]
  ui = true    
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

[core]
  pager = diff-so-fancy | less --tabs=4 -RFX

[credential]
  helper = store
[credential "https://github.com"]
  helper = cache

[include]
  path = ~/.gitconfig_custom.inc

[interactive]
  diffFilter = diff-so-fancy --patch

[pull]
	rebase = false

[push]
  default = current

[user]
	email = {{ .git_email }}
	name = {{ .git_alias }}

